

body {
  background: linear-gradient(to right,rgb(88, 88, 151),white);;
  color: black;
  font-family: italic,'Helvetica Neue', sans-serif;
}

.post-item {
  background-color: lightgray;
  border-left: 4px solid var(--accent);
  padding: 10px;
  border-bottom: 10px;
  width: 35%;
}


#post-detail {
  background-color: white;
  border: 1px solid var(--accent);
  padding: 15px;
  margin-left: 40%;
  
}

#first-head{
  text-align: center;
  font-family: Times, serif;

}

#second-head{
  text-align: center;
  font-family: Times, serif;
}

.left-container {
  width: 30%;
  background-color:white;
  border: 1px solid var(--accent);
  padding: 20px;
  margin-right: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  float: left; 
}
